.carouselFrame {
  margin: 0 auto;
  padding: 5px;
  width: 60%;
}

.infoPanel-top {
  position: relative;
  bottom: 8px;
  width: 100%;
  height: 14px;
  /* -webkit-transition: bottom 1s;
  -webkit-transition: top 1s; */
}

.infoPanel-bottom {
  position: relative;
  top: 50px;
  width: 100%;
  height: 14px;
  /* -webkit-transition: bottom 1s;
  -webkit-transition: top 1s; */
}

.imgInfo {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 14px;
  line-height: 1.43;
  color: rgb(255, 255, 255);
  font-weight: 100;
  float: left;
}

.carousel-toggle {
  cursor: pointer;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 14px;
  line-height: 1.43;
  color: rgb(255, 255, 255);
  font-weight: 100;
  float: right;
}

.carousel {
  position: relative;
  bottom: 18px;
  height: 67px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 1px solid red;
}
